body {
    font-family: sans-serif;
    box-sizing: content-box;
}
* {
    margin: 10px;
}
nav {
    padding: 10px;
    background-color: floralwhite;
}
#metadata {
    font-family: monospace;
    padding: 5px;
    background-color: aliceblue;
}
textarea {
    width: 100%;
    margin: 0;
}