body {
    font-family: sans-serif;
    box-sizing: content-box;
}
div, nav, h1 {
    margin: 20px;
}
nav {
    padding: 10px;
    background-color: floralwhite;
}
nav p {
    margin: 0.5em 0;
}
#metadata {
    font-family: monospace;
    padding: 5px;
    background-color: aliceblue;
}
textarea {
    width: 100%;
    margin: 0;
}